#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
.header{
    text-align: center;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;

}
.bar{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    background-color: blanchedalmond;
}